# Bedrock Distribution / packaging
installs/
*.msi
*.whl
*.tar.gz
*.zip
*.json


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

tsconfig.tsbuildinfo
.eslintcache
yarn-error.log
*.env
!sample.env

.ipynb_checkpoints
__pycache__

workshop/notebooks/.deepeval-cache.json
workshop/notebooks/.ipynb_checkpoints/*
workshop/src/.ipynb_checkpoints/*
workshop/src/__pycache__/*
workshop/notebooks/.temp-deepeval-cache.json
workshop/notebooks/temp_test_run_data.json
workshop/data/.ipynb_checkpoints/call_transcripts-checkpoint.csv
workshop/libraries/deep-eval-metrics/__pycache__/utils_v2.cpython-310.pyc
workshop/libraries/deep-eval-metrics/faithfulness/__pycache__/__init__.cpython-310.pyc
workshop/libraries/deep-eval-metrics/faithfulness/__pycache__/template.cpython-310.pyc
workshop/libraries/deep-eval-metrics/summarization/__pycache__/__init__.cpython-310.pyc
workshop/libraries/deep-eval-metrics/summarization/__pycache__/summarization.cpython-310.pyc
workshop/libraries/deep-eval-metrics/summarization/__pycache__/template.cpython-310.pyc
.DS_Store